<!DOCTYPE html>
<html>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav">
        <li class="navbar"> <a class="navbar" href="chat">ChatFujioka</a>
        <li #navbar class="navbar"><a class="navbar" href="logoff">Desloggar</a></li>
        <li #navbar class="navbar"><a class="navbar" href="adminDelete">Deletar Usuário</a></li>
      </ul>
    </div>
  </nav>
  <head>
    <meta charset="utf-8">
    <title>Bem vindo Adm</title>
    <style>
      ul {
        list-style-type: square;
      }
      ul.nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li.navbar  {
          float: left;
      }

      li.navbar a.navbar {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }
      li a:hover {
          background-color: #111;
      }
    </style>
  </head>
  <body>
    <ol type="Usuarios">
      <ul>
      <% users.forEach(function (user) { %>
        <li>
          <h1><%= user.username %> </h1>
        </li>
      <% }) %>
      </ul>
    </ol>
  </body>
</html>
