<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <h1>Esqueceu a senha</h1>
    <form action="/users/forgot" method="POST">
      <p>Digite o email de cadastro e sua senha desejada para mudar suas credenciais de acesso:</p>
      <input type="text" name="email"> <br>
      <input type="password" name="password"> <br>
      <input type="submit" value="send"> <br>
    </form>
    <p>
        Caso ainda não tenha cadastro <a href="/users/signup"> clique aqui </a>
    </p>
  </body>
</html>
